.header {
    font-size: 2.5rem;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 10rem;
        height: 10rem;
        fill: $color-red;
    }

    &__text {
        align-items: center;
        color: #fff;
    }

    &__b-text {
        font-size: 13rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        margin-left: 3rem;
    }

    
}

.nav{
    display: flex;
    margin-left: auto;

    &__item {
        margin-right: 1rem;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        padding: 1rem;
        color: #fff;
    }

    .btn {
        padding: 1rem;
        background-color: $color-red;
        color: #fff;
    }
}